.root {
  text-align: left;
}

.root h1 {
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  margin: 1em 0;
}

.root h2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin: 1em 0;
}

.root img {
  max-width: 100%;
  height: auto;
  display: block;
}

.root p {
  line-height: 1.6em;
  margin: 1em;
}

.subscribe {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.button {
  font-size: 1.25rem;
  line-height: 1.5;
  display: block;
  background-color: #007bff;
  border: 1px solid #007bff;
  box-shadow: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--text-color);
  border-radius: 4px;
}
