@import url('./fonts.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'OpenSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --brand-color: #282c34;
  --link-color: #61dafb;
  --text-color: #ffffff;
  font-size: 18px;
}
